<!DOCTYPE html>
<html>
	<head>
		<title> N-C Data Manage </title> 
	</head>
	<body>
	<h1>NEXUS-COM</h1>
		<div align="center">
			<h2>Registrar Venta</h2>
			<form action="/main_page" method="post" accept-charset="utf-8">
				<p><input type="text" placeholder="Ingrese su id" name="user_id" value="" id="user_id"></p>
				<p><input type="text" placeholder="Nombre del Cliente" name="client_name" value="" id="client_name"></p>
				<p><input type="text" placeholder="Descripcion" name="art_description" value="" id="art_description"></p>
				<p><input type="text" placeholder="Marca" name="art_brand" value="" id="art_brand"></p>
				<p><input type="text" placeholder="Modelo" name="art_model" value="" id="art_modele"></p>
				<p><input type="text" placeholder="Serie de articulo" name="art_id" value="" id="art_id"></p>
				<p><input type="text" placeholder="Precio" name="art_price" value="" id="art_price"></p>
				<p><input type="text" placeholder="IVA" name="art_tax" value="" id="art_tax"></p>
				<p><input type="submit" value="Guardar"></p>
			</form>
		</div>
		<div align="center">
			<p>Marco ID: 1</p>
			<p>Johnny ID: 2</p>
			<p>Apa ID: 3</p>
			<p>Kike ID: 4</p>
			<p>Erick ID: 5</p>
		</div>
	</body>
</html>